footer {
    padding-block: 2rem 3rem !important;
    font-family: var(--font-family-primary);

    .site-footer {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        justify-content: space-between;
        align-items: center;

        a,
        a:link,
        a:visited {
            color: contrast-color(var(--body-bg));
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                color: contrast-color(var(--body-bg));
                text-decoration: underline;
            }
        }

        * {
            min-width: fit-content;
        }

        hr {
            margin: 0;
            min-width: fit-content;
            height: 36px;
            flex: 1;
            filter: hue-rotate(20deg);
            background-image: url("https://64.media.tumblr.com/83e13d189d896cfa579da09cb04d6f1a/f4e1d61ed636f200-19/s2048x3072/4f5b37be08827ea426d213530db16938f621c25c.pnj");
            background-size: auto 36px;
            background-repeat: repeat-x;
            background-position: center center;
            border: none;
        }

        .footer-right {
            display: flex;
            flex-direction: row;

            *:not(:first-child):before {
                content: "●";
                position: relative;
                padding: 0.5rem;
                text-decoration: none !important;
            }
        }
    }
}
