header {
    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
        list-style-type: none;
        padding: 0;

        & > * {
            &:not(:first-child):before {
                content: "●";
                position: relative;
                padding: 0.5rem;
                text-decoration: none !important;
            }

            &:hover,
            &:focus,
            &:active {
                &:not(:first-child):before {
                    text-decoration: none !important;
                }
            }
        }
    }
}
