<div class="header-top">
  <a href="/index.html" class="logo"><img src="/img/logo.png" alt="skylark grotto logo"></a>
  
  <nav class="main-navigation">
    <ul>
      {% for item in nav %}
        <li><a href="{{ item.link }}">{{ item.text }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</div>