---
layout: templates/article.njk
title: my bookshelf
nesting: "../"
---
<p>all media listed are things that I currently own and recommend!</p>

<h2>books</h2>

<h3 class="inset">favorites</h3>
<ul class="two-column inset">
  {% for item in booksFav %}
    <li>● <a href="{{ item.goodreads }}" target="_blank">{{ item.title }}</a> by {{ item.author }}</li>
  {% endfor %}
</ul>

<h3 class="inset">fiction</h3>
<ul class="two-column inset">
  {% for item in booksFict %}
    <li>● <a href="{{ item.goodreads }}" target="_blank">{{ item.title }}</a> by {{ item.author }}</li>
  {% endfor %}
</ul>

<h3 class="inset">nonfiction</h3>
<ul class="two-column inset">
  {% for item in booksNonFict %}
    <li>● <a href="{{ item.goodreads }}" target="_blank">{{ item.title }}</a> by {{ item.author }}</li>
  {% endfor %}
</ul>

<h2>webcomics</h2>
<ul class="two-column inset">
  {% for item in webcomics %}
    <li>● <a href="{{ item.link }}" target="_blank">{{ item.title }}</a> by {{ item.author }}</li>
  {% endfor %}
</ul>