---
layout: templates/home.njk
title: skylark grotto
nesting: "../"
---
<h1>welcome!</h1>
<p>hello, I'm cerah! I'm a SCAdian, fiber artist, and general collector of hobbies. this is where I collect all of my
  random interests- I have a lot of them! stay tuned for updates on my crafting projects, as well as media
  recommendations and other fun things.</p>

<h5>changelog</h5>
<ul style="list-style-type: none;">
  {% for item in changelog %}
  <li>{{ item.date }} ● {{ item.text }}</li>
  {% endfor %}
</ul>

<h5>to-do</h5>
<ul style="list-style-type: none;">
  {% for item in todoList %}
  <li>● {{ item.todo }}</li>
  {% endfor %}
</ul>
</main>