---
layout: htmlTemplate.njk
sidebarC: yes
---
<main id="main" class="container">
    {% if thumbnail %}
        <img src={{ thumbnail }} class="thumbnail">
    {% endif %}
    <h1 class="page-title">{{ title }}</h1>
    {% if timestamped %}
        <div class="page-date">posted {{ page.date.toUTCString() }}</div>
    {% endif %}

    {{ content | safe }}
</main>